.library_add-container{
	display: flex;
	border: 1px solid #ddd;
	justify-content: center;
	padding: 42px;
	
}
.library_add-container input[type="file"]{
	cursor: pointer;
	height: 70px;
	width: 270px;
	color: #555;
	border: 0;
	

}
.library_add-container button{
	font-size: 23px;
	background: transparent;
	border: 0;
	color: #666;
	border: 1px solid #999;
	padding: 3px;

	height: 70px;
	width: 130px;
	margin:auto 10%;


}

.library_add-container button:hover{
	color: #3f72ff;
	border: 1px solid #3f72ff;
}



